<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="OWLS.contribution1"
            nameFilter="*.wsdl"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%menu.label"
               path="additions"
               id="OWLS.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%action.label"
               class="owls.actions.ConvertWSDL2OWLSAction"
               menubarPath="OWLS.menu1/group1"
               enablesFor="1"
               id="OWLS.action1">
         </action>
      </objectContribution>
      <objectContribution
            id="OWLS.contribution2"
            nameFilter="*.owls_diagram"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="owls.actions.OwlsFileGenerator"
               enablesFor="1"
               id="owls.action2"
               label="%action.label.0"
               menubarPath="OWLS.menu2/group2">
         </action>
         <menu
               id="OWLS.menu2"
               label="%menu.label.0"
               path="additions">
            <groupMarker
                  name="group2">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            id="OWLS.contribution3"
            nameFilter="*.owl"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="OWLS.menu3"
               label="%menu.label.1"
               path="additions">
            <groupMarker
                  name="group3">
            </groupMarker>
         </menu>
         <action
               class="owls.actions.RunCompositionAction"
               enablesFor="1"
               id="owls.action3"
               label="%action.label.1"
               menubarPath="OWLS.menu3/group3">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="OWLS.contribution4"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="OWLS.menu4"
               label="%menu.label.4"
               path="additions">
            <groupMarker
                  name="group4">
            </groupMarker>
         </menu>
         <action
               class="owls.actions.CloudPrePublishAction"
               enablesFor="1"
               id="owls.action4"
               label="%action.label.4"
               menubarPath="OWLS.menu4/group4">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="owls.diagram.category"
            class="owls.wizards.OwlsFileGenerationWizard"
            id="owls.FileGeneratorWizard"
            name="%wizard.name.0">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <wizard
            category="owls.diagram.category"
            class="owls.wizards.WSDL2OWLwizard"
            hasPages="true"
            id="owls.WSDL2OWLSWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            category="owls.diagram.category"
            class="owls.wizards.RunCompositionWizard"
            hasPages="true"
            id="owls.RunCompositionWizard"
            name="%wizard.name.1">
      </wizard>
   </extension>

</plugin>
