<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "owls.presentation.OwlsModelWizardID"
      name = "%_UI_OwlsModelWizard_label"
      class = "owls.presentation.OwlsModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/OwlsModelFile.gif">
      <description>%_UI_OwlsModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "owls.presentation.OwlsEditorID"
        name = "%_UI_OwlsEditor_label"
        icon = "icons/full/obj16/OwlsModelFile.gif"
        extensions = "owls"
        class = "owls.presentation.OwlsEditor" 
        contributorClass="owls.presentation.OwlsActionBarContributor" >
    </editor>
  </extension>    
</plugin>
